<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin fome page</title>
</head>
<br>
<a href="/myapp/view_company/">View profile</a><br>
<a href="/myapp/services/">Add Services</a><br>
<a href="/myapp/view_service/">View Services</a><br>
<a href="/myapp/view_gallery/">View Gallery</a><br>
<a href="/myapp/admn_vw_usr/">View Users</a></br>
<a href="/myapp/admn_vw_request/">View Request</a></br>
<a href="/myapp/ad_viw_apprvd_reqst/">View Approved Requests</a></br>
<a href="/myapp/vw_comp/">View Complaint</a></br>
<a href="/myapp/admn_vw_pymnt/">View Payment</a></br>
<a href="/myapp/chng_pass/">Change password</a></br>
</body>
</html>