{% extends 'user_home_index.html' %}
{% block body %}
<form method="post" action="/myapp/compost/">
    {% csrf_token %}
    <input type="hidden" name="lid"value="{{ id }}">
    <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Complaint</h2>
              <p class="text-white-50 mb-5">Please enter your COMPLAINT!</p>

              <div class="form-floating">
                                      <span>Complaints:</span>

                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="c1"></textarea>
              </div>
                <br>
                <br>
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>



            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>

</div>
{% endblock %}