<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sndrply</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

    <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
<form method="post" action="/myapp/sndReplypost/">
     {% csrf_token %}
    <input type="hidden" name="srid" id="name" value="{{ id }}">
              <h2 class="fw-bold mb-2 text-uppercase">Reply</h2>
              <p class="text-white-50 mb-5">Please enter your Reply!</p>

              <div class="form-floating">
                                      <span>Reply:</span>

                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="r1"></textarea>
              </div>
                <br>
                <br>
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
</form>



            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>