<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a href="/myapp/view_prof/">View profile</a></br>
<a href="/myapp/explore_ser/">Explore services</a><br>
<a href="/myapp/usr_vw_aprv_sts/">View Approved Request</a><br>
<a href="/myapp/usr_vw_rjct_sts/">View Rejected Request</a><br>
<a href="/myapp/comp/">Send Complaints</a><br>
<a href="/myapp/reply/">View Reply</a><br>
<a href="/myapp/usr_pass/">Change password</a><br>



</body>
</html>